.controls {
  flex-grow: 0;
  flex-shrink: 0;
  width: 180px;
  height: 100%;
  background-color: #e6e6e6;
  display: flex;
  flex-flow: column;
}
.selected-control {
  padding: 10px;
}
.selected-control--group-0 {
  background: #A0CA24;
  /* Old browsers */
  background: -moz-linear-gradient(top, #657F14 0%, #A0CA24 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #657F14 0%, #A0CA24 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #657F14 0%, #A0CA24 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.selected-control--group-1 {
  background: #FED0B4;
  /* Old browsers */
  background: -moz-linear-gradient(top, #E57429 0%, #FED0B4 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #E57429 0%, #FED0B4 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #E57429 0%, #FED0B4 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.selected-control--group-2 {
  background: #B3D0FD;
  /* Old browsers */
  background: -moz-linear-gradient(top, #2971E5 0%, #B3D0FD 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #2971E5 0%, #B3D0FD 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #2971E5 0%, #B3D0FD 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.selected-control--group-3 {
  background: #FFFEB6;
  /* Old browsers */
  background: -moz-linear-gradient(top, #E5E529 0%, #FFFEB6 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #E5E529 0%, #FFFEB6 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #E5E529 0%, #FFFEB6 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.selected-control--group-4 {
  background: #FEB4FD;
  /* Old browsers */
  background: -moz-linear-gradient(top, #E529E5 0%, #FEB4FD 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #E529E5 0%, #FEB4FD 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #E529E5 0%, #FEB4FD 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.selected-control--group-5 {
  background: #B4FEE5;
  /* Old browsers */
  background: -moz-linear-gradient(top, #14D192 0%, #B4FEE5 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #14D192 0%, #B4FEE5 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #14D192 0%, #B4FEE5 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.selected-control__text {
  color: #fff;
  text-shadow: 0 1px 3px #000000;
  letter-spacing: 0.5px;
  line-height: 20px;
  font-size: 16px;
}
.selected-control__relationship-concept-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
}
.selected-control__relationship-influence-text {
  font-weight: 600;
  margin: 6px 0 4px;
  line-height: 16px;
}
.control-panel {
  flex-shrink: 0;
}
.control-panel__header {
  background-color: #4a4b4d;
  padding: 8px;
  border-bottom: 1px solid #000;
  position: relative;
  cursor: pointer;
  font-size: 14px;
}
.control-panel__header:before {
  content: '';
  height: 1px;
  width: 100%;
  position: absolute;
  top: 1px;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
}
.control-panel__header-text {
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.95);
  letter-spacing: 0.5px;
}
.control-panel__header-icon {
  margin-right: 8px;
}
.control-panel__header-icon-svg {
  fill: #fff;
  transition: transform 500ms ease;
}
.control-panel__body {
  background-color: #f2f2f2;
}
.control__text-area {
  width: 100%;
  font-weight: 300;
  line-height: 20px;
  font-size: 16px;
  padding: 0;
  border: none;
  resize: none;
  background-color: transparent;
  outline: none;
}
.control__text-area:focus,
.control__text-area:active {
  outline-color: #83A603;
  outline-offset: 4px;
  outline-width: 6px;
}
.control__text-area::placeholder {
  color: #9b9c9d;
}
.control-panel__body-content {
  padding: 10px;
}
.group-control {
  margin: 0;
}
.group-control li {
  margin-bottom: 8px;
  display: flex;
}
.group-control input[type="radio"] {
  margin-left: 0;
  margin-right: 8px;
}
.group-control input[type="text"] {
  margin-left: 0;
  width: 140px;
  padding: 2px;
  font-size: 14px;
  line-height: 22px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.group-control input[type="text"]:focus,
.group-control input[type="text"]:active {
  outline-width: 0;
  border-color: #999;
  box-shadow: 0 3px 5px rgba(100, 100, 100, 0.15);
  position: relative;
  bottom: 1px;
}
.group-control__text {
  color: #666;
}
.group-control__text--0 {
  background-color: #e6e6e6;
}
.group-control__text--1 {
  background-color: #FED0B4;
}
.group-control__text--2 {
  background-color: #B3D0FD;
}
.group-control__text--3 {
  background-color: #FFFEB6;
}
.group-control__text--4 {
  background-color: #FEB4FD;
}
.group-control__text--5 {
  background-color: #B4FEE5;
}
.group-control input::placeholder {
  color: #9b9c9d;
}
.confidence-control {
  padding-top: 16px;
}
.confidence-control__label {
  display: flex;
  justify-content: space-between;
  user-select: none;
}
.confidence-control__label span {
  font-size: 14px;
  text-transform: uppercase;
  color: #999;
}
.confidence-control__input-wrapper {
  width: 100%;
  position: relative;
}
.confidence-control__input-notches {
  height: 100%;
  left: 9px;
  width: calc(100% - 14px);
  position: absolute;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
}
.confidence-control__input-notch {
  width: 1px;
  background-color: #999;
  position: relative;
  height: calc(100% - 10px);
  top: 5px;
}
.confidence-control__input {
  height: 40px;
  width: 100%;
  cursor: pointer;
  background-color: transparent;
  position: relative;
  z-index: 1;
}
