@import (reference) '../../shared.less';

.MentalMapper {

    .Concept {
        position: absolute;
        padding: 2px;
        padding-bottom: 0px;
        z-index: 1;
        cursor: pointer;
        
        &--focused {
            z-index: 3;
            
            .Concept__button--top {
                transform: translateY(0 - @concept-button-height);
            }
        
            .Concept__button--bottom {
                transform: translateY(@concept-button-height);
            }
        }

        &__bg {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border-radius: 6px;
            border: 1px solid #000;
            box-shadow:inset 0 0 0 2px #fff, 0 3px 8px rgba(0, 0, 0, 0.15);

            &--focused {
                &.Concept__bg--group-0 { .mixin-selected-control-bg(@concept-0-outline); }
                &.Concept__bg--group-1 { .mixin-selected-control-bg(@concept-1-outline); }
                &.Concept__bg--group-2 { .mixin-selected-control-bg(@concept-2-outline); }
                &.Concept__bg--group-3 { .mixin-selected-control-bg(@concept-3-outline); }
                &.Concept__bg--group-4 { .mixin-selected-control-bg(@concept-4-outline); }
                &.Concept__bg--group-5 { .mixin-selected-control-bg(@concept-5-outline); }
            }
        
            &--group-0 { .mixin-concept-bg(@concept-0-grad-light, @concept-0-grad-dark); }
            &--group-1 { .mixin-concept-bg(@concept-1-grad-light, @concept-1-grad-dark); }
            &--group-2 { .mixin-concept-bg(@concept-2-grad-light, @concept-2-grad-dark); }
            &--group-3 { .mixin-concept-bg(@concept-3-grad-light, @concept-3-grad-dark); }
            &--group-4 { .mixin-concept-bg(@concept-4-grad-light, @concept-4-grad-dark); }
            &--group-5 { .mixin-concept-bg(@concept-5-grad-light, @concept-5-grad-dark); }
        }

        &__button-wrapper {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            // background-color: rgba(255, 0, 0, 0.3);
            display: flex;
            justify-content: center;
            z-index: -1;
            // pointer-events: none;

            &--top {
                top: 0 - @concept-button-height / 2;
                // background-color: rgba(255, 0, 0, 0.3);
            }

            &--bottom {
                bottom: 0 - @concept-button-height / 2;
                // background-color: rgba(0, 255, 0, 0.3);    
            }
        }

        &__button {
            .mm-button();
            //.mixin-button-bg(@button-grad-light, @button-grad-dark);
            // border: 1px solid @button-grad-dark;
            height: @concept-button-height;
            width: @concept-button-width;
            position: relative;
            transition: transform 300ms ease;
            // border: 2px solid #000;
            cursor: pointer;
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            outline: none;

            &:focus {
                // box-shadow: 0 0 1px 3px @button-grad-hover-light, inset 0 0 2px 1px @button-grad-hover-light;
            }
            
            > * {
                pointer-events: none;
            }
            
            &--top {
                align-self: flex-start;
                top: @concept-button-height / 2; 
                border-radius: @concept-button-border-radius @concept-button-border-radius 0 0;
                
                &:focus {
                    transform: translateY(0 - @concept-button-height);
                }
            }

            &--bottom {
                align-self: flex-end;
                bottom: @concept-button-height / 2;
                border-radius: 0 0 @concept-button-border-radius @concept-button-border-radius;
                
                &:focus {
                    transform: translateY(@concept-button-height);
                }
            }

            &:hover {
                .mixin-button-bg(@button-grad-hover-light, @button-grad-hover-dark);
                border-color: @button-grad-hover-dark;
            }
        }

        &__icon--trash {
            fill: #fff;
            stroke: #fff;
            height: 16px;
            width: 16px;
            //transform: scale(1.2);
        }

        &__icon--line {
            fill: #fff;
            stroke: #fff;
            height: 16px;
            width: 16px;
            //transform: scale(1.2);
        }


        &__textarea {
            width: 168px;
            @line-height: 18px;
            line-height: @line-height;
            font-size: 14px;
            min-height: @line-height;
            border: none;
            padding: 6px;    
            background: none !important; // foundation.css overrides
            position: relative;
            // top: 1px; // foundation.css overrides
            cursor: pointer;
            resize: none;
            z-index: 2;
            
            // foundation.css overrides
            box-shadow: none !important;
            
            &:focus {
                outline: none;
            }
        }
    }

    .Concept:hover,
    .Concept:focus {
        z-index: 3;
        
        .Concept__button--top {
            transform: translateY(0 - @concept-button-height);
        }

        .Concept__button--bottom {
            transform: translateY(@concept-button-height);
        }
    }

    .Concept--line-mouse-down {
        .Concept__button--bottom {
            transform: translateY(@concept-button-height);
        }
    }

    .Concept--temp-relationship-exists:not(.Concept--is-temp-relationship) {
        > * {
            pointer-events: none;
        }
        
        &:hover {
            z-index: 1;

            .Concept__button--top,
            .Concept__button--bottom {
                transform: none;
            }

            > .Concept__bg--group-0 { .mixin-selected-control-bg(@concept-0-outline); }
            > .Concept__bg--group-1 { .mixin-selected-control-bg(@concept-1-outline); }
            > .Concept__bg--group-2 { .mixin-selected-control-bg(@concept-2-outline); }
            > .Concept__bg--group-3 { .mixin-selected-control-bg(@concept-3-outline); }
            > .Concept__bg--group-4 { .mixin-selected-control-bg(@concept-4-outline); }
            > .Concept__bg--group-5 { .mixin-selected-control-bg(@concept-5-outline); }
        }
    }

    .Concept__textarea::placeholder {
        color: @placeholder-color;
    }
}