.MentalMapper .Concept {
  position: absolute;
  padding: 2px;
  padding-bottom: 0px;
  z-index: 1;
  cursor: pointer;
  transform: translateZ(0);
  transform-origin: center;
  transition: transform 300ms ease;
}
.MentalMapper .Concept--excluded-by-filter {
  opacity: 0.15;
}
.MentalMapper .Concept--focused {
  z-index: 3;
}
.MentalMapper .Concept--focused .Concept__button--top {
  transform: translateY(-28px);
}
.MentalMapper .Concept--focused .Concept__button--bottom {
  transform: translateY(28px);
}
.MentalMapper .Concept__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 6px;
  border: 1px solid #000;
  box-shadow: inset 0 0 0 2px #fff, 0 3px 8px rgba(0, 0, 0, 0.15);
}
.MentalMapper .Concept__bg--focused.Concept__bg--group-0 {
  box-shadow: inset 0 0 4px 2px #83A603;
}
.MentalMapper .Concept__bg--focused.Concept__bg--group-1 {
  box-shadow: inset 0 0 4px 2px #E57429;
}
.MentalMapper .Concept__bg--focused.Concept__bg--group-2 {
  box-shadow: inset 0 0 4px 2px #2971E5;
}
.MentalMapper .Concept__bg--focused.Concept__bg--group-3 {
  box-shadow: inset 0 0 4px 2px #E5E529;
}
.MentalMapper .Concept__bg--focused.Concept__bg--group-4 {
  box-shadow: inset 0 0 4px 2px #E529E5;
}
.MentalMapper .Concept__bg--focused.Concept__bg--group-5 {
  box-shadow: inset 0 0 4px 2px #14D192;
}
.MentalMapper .Concept__bg--group-0 {
  background: #e6e6e6;
  /* Old browsers */
  background: -moz-linear-gradient(top, #e6e6e6 0%, #fff 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #e6e6e6 0%, #fff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fff 0%, #e6e6e6 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.MentalMapper .Concept__bg--group-1 {
  background: #FFD0B2;
  /* Old browsers */
  background: -moz-linear-gradient(top, #FFD0B2 0%, #fff 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #FFD0B2 0%, #fff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fff 0%, #FFD0B2 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.MentalMapper .Concept__bg--group-2 {
  background: #B2CFFF;
  /* Old browsers */
  background: -moz-linear-gradient(top, #B2CFFF 0%, #fff 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #B2CFFF 0%, #fff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fff 0%, #B2CFFF 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.MentalMapper .Concept__bg--group-3 {
  background: #FFFFB2;
  /* Old browsers */
  background: -moz-linear-gradient(top, #FFFFB2 0%, #fff 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #FFFFB2 0%, #fff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fff 0%, #FFFFB2 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.MentalMapper .Concept__bg--group-4 {
  background: #FFB2FF;
  /* Old browsers */
  background: -moz-linear-gradient(top, #FFB2FF 0%, #fff 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #FFB2FF 0%, #fff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fff 0%, #FFB2FF 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.MentalMapper .Concept__bg--group-5 {
  background: #B2FFE5;
  /* Old browsers */
  background: -moz-linear-gradient(top, #B2FFE5 0%, #fff 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #B2FFE5 0%, #fff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fff 0%, #B2FFE5 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.MentalMapper .Concept__button-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  z-index: -1;
}
.MentalMapper .Concept__button-wrapper--top {
  top: -14px;
}
.MentalMapper .Concept__button-wrapper--bottom {
  bottom: -14px;
}
.MentalMapper .Concept__button {
  color: #fff;
  text-shadow: 0 0 2px #000;
  border: 1px solid #000;
  padding: 0;
  box-shadow: none;
  background: #000;
  /* Old browsers */
  background: -moz-linear-gradient(top, #000 0%, #000 15%, #333 85%, #333 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #000 0%, #000 15%, #333 85%, #333 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #333 0%, #333 15%, #000 85%, #000 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  height: 28px;
  width: 30px;
  position: relative;
  transition: transform 300ms ease;
  cursor: pointer;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}
.MentalMapper .Concept__button:hover {
  background: #657F14;
  /* Old browsers */
  background: -moz-linear-gradient(top, #657F14 0%, #657F14 15%, #A0CA24 85%, #A0CA24 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #657F14 0%, #657F14 15%, #A0CA24 85%, #A0CA24 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #A0CA24 0%, #A0CA24 15%, #657F14 85%, #657F14 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-color: #657F14;
}
.MentalMapper .Concept__button:active {
  background: #657F14;
  /* Old browsers */
  background: -moz-linear-gradient(top, #657F14 0%, #657F14 15%, #A0CA24 85%, #A0CA24 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #657F14 0%, #657F14 15%, #A0CA24 85%, #A0CA24 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #A0CA24 0%, #A0CA24 15%, #657F14 85%, #657F14 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  box-shadow: inset 0 0 12px 2px rgba(0, 0, 0, 0.4);
}
.MentalMapper .Concept__button svg {
  filter: drop-shadow(0 0 1px #000);
}
.MentalMapper .Concept__button > * {
  pointer-events: none;
}
.MentalMapper .Concept__button--top {
  align-self: flex-start;
  top: 14px;
  border-radius: 6px 6px 0 0;
}
.MentalMapper .Concept__button--top:focus {
  transform: translateY(-28px);
}
.MentalMapper .Concept__button--bottom {
  align-self: flex-end;
  bottom: 14px;
  border-radius: 0 0 6px 6px;
}
.MentalMapper .Concept__button--bottom:focus {
  transform: translateY(28px);
}
.MentalMapper .Concept__button:hover {
  background: #657F14;
  /* Old browsers */
  background: -moz-linear-gradient(top, #657F14 0%, #657F14 15%, #A0CA24 85%, #A0CA24 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #657F14 0%, #657F14 15%, #A0CA24 85%, #A0CA24 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #A0CA24 0%, #A0CA24 15%, #657F14 85%, #657F14 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-color: #657F14;
}
.MentalMapper .Concept__icon--trash {
  fill: #fff;
  stroke: #fff;
  height: 16px;
  width: 16px;
}
.MentalMapper .Concept__icon--line {
  fill: #fff;
  stroke: #fff;
  height: 16px;
  width: 16px;
}
.MentalMapper .Concept__textarea {
  width: 168px;
  line-height: 18px;
  font-size: 14px;
  min-height: 18px;
  border: none;
  padding: 6px;
  background: none !important;
  position: relative;
  cursor: pointer;
  resize: none;
  z-index: 2;
  box-shadow: none !important;
}
.MentalMapper .Concept__textarea:focus {
  outline: none;
}
.MentalMapper .Concept:hover,
.MentalMapper .Concept:focus {
  z-index: 3;
  transform: scale(1.1) translateZ(0);
}
.MentalMapper .Concept:hover .Concept__button--top,
.MentalMapper .Concept:focus .Concept__button--top {
  transform: translateY(-28px);
}
.MentalMapper .Concept:hover .Concept__button--bottom,
.MentalMapper .Concept:focus .Concept__button--bottom {
  transform: translateY(28px);
}
.MentalMapper .Concept--line-mouse-down .Concept__button--bottom {
  transform: translateY(28px);
}
.MentalMapper .Concept--temp-relationship-exists:not(.Concept--is-temp-relationship) > * {
  pointer-events: none;
}
.MentalMapper .Concept--temp-relationship-exists:not(.Concept--is-temp-relationship):hover {
  z-index: 1;
}
.MentalMapper .Concept--temp-relationship-exists:not(.Concept--is-temp-relationship):hover .Concept__button--top,
.MentalMapper .Concept--temp-relationship-exists:not(.Concept--is-temp-relationship):hover .Concept__button--bottom {
  transform: none;
}
.MentalMapper .Concept--temp-relationship-exists:not(.Concept--is-temp-relationship):hover > .Concept__bg--group-0 {
  box-shadow: inset 0 0 4px 2px #83A603;
}
.MentalMapper .Concept--temp-relationship-exists:not(.Concept--is-temp-relationship):hover > .Concept__bg--group-1 {
  box-shadow: inset 0 0 4px 2px #E57429;
}
.MentalMapper .Concept--temp-relationship-exists:not(.Concept--is-temp-relationship):hover > .Concept__bg--group-2 {
  box-shadow: inset 0 0 4px 2px #2971E5;
}
.MentalMapper .Concept--temp-relationship-exists:not(.Concept--is-temp-relationship):hover > .Concept__bg--group-3 {
  box-shadow: inset 0 0 4px 2px #E5E529;
}
.MentalMapper .Concept--temp-relationship-exists:not(.Concept--is-temp-relationship):hover > .Concept__bg--group-4 {
  box-shadow: inset 0 0 4px 2px #E529E5;
}
.MentalMapper .Concept--temp-relationship-exists:not(.Concept--is-temp-relationship):hover > .Concept__bg--group-5 {
  box-shadow: inset 0 0 4px 2px #14D192;
}
.MentalMapper .Concept__textarea::placeholder {
  color: #9b9c9d;
}
