@text-shadow: 0 1px 1px rgba(0, 0, 0, 0.95);
@text-shadow-selected-control: 0 1px 3px rgba(0, 0, 0, 1);
@control-panel-header-bg: #4a4b4d;
@controls-transition-duration: 250ms;
@concept-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
@placeholder-color: #9b9c9d;

@relationship-color-positive: #0351A6;
@relationship-color-negative: #E57429; //#BF5513;

@main-color: #83A603; // #A0CA24; // #83A603; //#84a41f;
@main-color-grad-dark: #657F14;
@main-color-grad-light: #A0CA24;

@concept-0-outline: @main-color;
@concept-0-grad-light: #fff;
@concept-0-grad-dark: #e6e6e6;
@concept-0-group-bg: #e6e6e6;

@concept-1-outline: #E57429;
@concept-1-grad-light: #fff;
@concept-1-grad-dark: #FFD0B2;
@concept-1-group-bg: #FED0B4;

@concept-2-outline: #2971E5;
@concept-2-grad-light: #fff;
@concept-2-grad-dark: #B2CFFF;
@concept-2-group-bg: #B3D0FD;

@concept-3-outline: #E5E529;
@concept-3-grad-light: #fff;
@concept-3-grad-dark: #FFFFB2;
@concept-3-group-bg: #FFFEB6;

@concept-4-outline: #E529E5;
@concept-4-grad-light: #fff;
@concept-4-grad-dark: #FFB2FF;
@concept-4-group-bg: #FEB4FD;

@concept-5-outline: #14D192;
@concept-5-grad-light: #fff;
@concept-5-grad-dark: #B2FFE5;
@concept-5-group-bg: #B4FEE5;

@button-grad-dark: #000;
@button-grad-light: #333;
@button-grad-hover-light: @main-color-grad-light;
@button-grad-hover-dark: @main-color-grad-dark;

@concept-button-width: 30px;
@concept-button-height: 28px;
@concept-button-border-radius: 6px;

@excluded-opacity: 0.15;

@easeInBack: cubic-bezier(.6, -.28, .735, .045);
@easeOutBack: cubic-bezier(.175, .885, .32, 1.275);

.mixin-selected-control(@grad-light; @grad-dark) {
    background: @grad-light; /* Old browsers */
    background: -moz-linear-gradient(top, @grad-dark 0%, @grad-light 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, @grad-dark 0%, @grad-light 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, @grad-dark 0%, @grad-light 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.mixin-concept-bg(@light;@dark) {
    background: @dark; /* Old browsers */
    background: -moz-linear-gradient(top, @dark 0%, @light 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, @dark 0%, @light 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, @light 0%, @dark 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.mixin-button-bg(@light;@dark) {
    @bottom: 15%; // 25%;
    @top: 85%; // 75%;
    background: @dark; /* Old browsers */
    background: -moz-linear-gradient(top, @dark 0%, @dark @bottom, @light @top, @light 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, @dark 0%, @dark @bottom, @light @top, @light 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, @light 0%, @light @bottom, @dark @top, @dark 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.mixin-selected-control-bg(@color) {
    box-shadow: inset 0 0 4px 2px @color;
}

.fontfamily() {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.mm-button() {
    cursor: pointer;
    color: #fff;
    outline: none;
    text-shadow: 0 0 2px #000;
    border: 1px solid #000;

    // foundation.css overrides
    padding: 0;
    box-shadow: none;
    
    .mixin-button-bg(@button-grad-light, @button-grad-dark);

    &.selected,
    &:hover {
        .mixin-button-bg(@button-grad-hover-light, @button-grad-hover-dark);
        border-color: @button-grad-hover-dark;
    }

    &:active {
        .mixin-button-bg(@button-grad-hover-light, @button-grad-hover-dark);
        box-shadow: inset 0 0 12px 2px rgba(0, 0, 0, .4);
    }

    svg {
        filter: drop-shadow(0 0 1px #000);
    }
}