.map {
  flex-grow: 1;
  min-height: 100%;
  display: flex;
  flex-flow: column;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.1);
}
.map__controls {
  flex-grow: 0;
  flex-shrink: 0;
  height: 44px;
}
.map__content {
  position: relative;
  flex-grow: 1;
  background-color: #fff;
  overflow: auto;
}
