@import '../../shared.less';

.Relationship {
    position: absolute;
    cursor: pointer;

    &__svg {
        overflow: visible;
        position: absolute;
        pointer-events: none;

        &--hit {
            pointer-events: auto;
        }
    }

    &__svg-arrow {
        &--positive {
            fill: #0351A6;
        }

        &--negative {
            fill: #BF5513;
        }
    }
        
}
